.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    background-image: url('https://img.freepik.com/premium-photo/elegant-white-abstract-background_1032986-123407.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.register-content {
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.register-content h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 20px; 
    position: relative;
}

.form-group:not(:last-child) {
    margin-bottom: 40px; 
}


.form-group label {
    display: block;
    margin-bottom:10px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.signup-button {
    background-color: #7a1919;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 200px;
}

.signup-button:hover {
    background-color: #a0522d;
}

.login-link {
    margin-top: 10px;
    font-weight: normal;
    text-align: center;
}

.login-link a {
    text-decoration: none;
}

.required {
    color: red;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px; 
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    text-align: left; 
}

.error-message.active {
    display: block;
}
