.contact-form-container {
    position: fixed; /* Fixed position ensures it stays centered on scroll */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering trick */
    max-width: 600px;
    width: 90%; /* Adjust width as needed */
    max-height: 80vh; /* Set maximum height to 80% of viewport height */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form-container .required {
    color: red;
}

.contact-form-container input[type="text"],
.contact-form-container input[type="file"],
.contact-form-container select {
    width: 100%; /* Full width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.contact-form-container img {
    display: block;
    margin-bottom: 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-form-container button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #033517;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.contact-form-container button[type="button"] {
    background-color: #f4a460; 
    border-radius: 20px;
}

.bottom {
    margin-top: 10px;
    text-align: center;
}

.validation-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: left; /* Ensure the error message aligns with the input field */
    display: block; /* Display the error message as a block element */
}

.contact-form-container button[type="button"]:hover {
    background-color: #A0522D; /* Change the hover color if needed */
}

.bottom button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #6B8E23;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
     margin-left: 10px;
}

.bottom button[type="submit"]:hover {
    background-color: #8FBC8F;
}

.bottom button[type="button"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #A52A2A;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bottom button[type="button"] {
    background-color: #800000; /* Change the hover color if needed */
}


.bottom{
    margin-top: 10px;
    margin-left: 350px;
}

